.navbar li {
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;

}

h1{
    color:cornflowerblue;
    font-size: 50px;
    text-align: center;
}

h2{
    color:cornflowerblue;
    font-size: 40px;
    text-align: center;
}

h3{
    color:cornflowerblue;
    font-size: 35px;
    text-align: center;
}
body{
    background-color:rgb(236, 229, 229);
    margin-bottom: 20px
}

p {
    text-indent: 30px;
}

.comparison {
    text-align:center;
}

/* section for devices with fewer than 600 px screens  */

@media(max-width:600px){
    .navbar.bg-dark{
        background-color: rgb(59, 61, 61)!important;    
    }
  
    .navbar-collapse{
        background-color: #f8f9fa;
    }

    .navbar{
        padding:inherit;
    }
}